[submodule "deps/ts-vimdoc.nvim"]
	path = deps/ts-vimdoc.nvim
	url = https://github.com/ibhagwan/ts-vimdoc.nvim
[submodule "deps/mini.test"]
	path = deps/mini.test
	url = https://github.com/nvim-mini/mini.test
